[Unit]
Description=Handles your Microsoft Sidewinder X4 / X6 gaming keyboards

[Service]
ExecStart=/home/tolga/Documents/Git/sidewinderd/sidewinderd
WorkingDirectory=/home/tolga/Documents/Git/sidewinderd

[Install]
WantedBy=multi-user.target
