[Unit]
Description=Handles your Microsoft Sidewinder X4 / X6 gaming keyboards

[Service]
ExecStart=/usr/bin/sidewinderd

[Install]
WantedBy=multi-user.target
