[Unit]
Description=Daemon for handling Microsoft SideWinder X4 / X6 and Logitech G710+

[Service]
ExecStart=/usr/bin/sidewinderd

[Install]
WantedBy=multi-user.target
